Django==4.1.4
mysqlclient==2.1.1
djangorestframework==3.14.0
Markdown==3.4.1
django-filter==22.1
django-phonenumber-field==7.0.0
phonenumbers==8.13.1
Pillow==9.3.0
django-rest-knox==4.2.0
pyotp==2.8.0
environs==9.5.0
